body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #f2f2f2;
  color: #333;
}

header {
  background-color: #007acc;
  color: white;
  padding: 30px;
  text-align: center;
}

section {
  padding: 20px;
  background-color: white;
  margin: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

h2 {
  color: #007acc;
}

ul {
  list-style: square;
  padding-left: 20px;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px;
}
